table {
	border-collapse: collapse;
	width: 100%;
  }
  
  th, td {
	text-align: left;
	padding: 8px;
  }
  
tr:nth-child(even) {background-color: white;}
tr:nth-child(odd) {background-color: #000000;}


tr.tabel{
  color: red;
}

a.tabel{
  color: red;
}
.button {
  background-color: #ffffff; 
  border: none;
  color: rgb(0, 0, 0);
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button5 {
  background-color: red;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

